<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue todolist</title>
</head>
<body>



    <div id="app" class="container">
        <header>
            <img :src="logo" alt="logo-todos">
            <h1>ToDoList VueJS</h1>
        </header>

        <main>

           <div class="add_todos">

            <input type="text" placeholder="Inserisci cose da fare" v-model="newText" @keyup.enter="addNew()">
            <button @click="addNew()">Inserisci</button>

           </div>


           <div class="display_todos">

                <ul>

                    <h2>La tua lista</h2>

                    <li class="clearfix" v-for="(todo,index) in todos">
                        <span @click="check(index)" :class="todo.done == true ? 'txt-line' : 'txt-none' ">{{todo.text}} </span>
                        <i class="fa-solid fa-eraser" @click="remove(index)"></i>

                    </li>

                </ul>

           </div>


        </div>

    </main>

    <!-- JS & Vue Script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>