*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header img{
    width: 20%;
}

/* container */
.container{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

/* main */
main{
    display: flex;
    flex-direction: column;
}

.add_todos{
    align-self: center;
}

.add_todos input, .add_todos button{
    margin: 0px 10px;
    display: inline-block;
    padding: 10px;
}

.display_todos{
    padding: 50px;
}

.display_todos ul{
    list-style-type: none;
    background-color: bisque;
    padding: 10px;
}

.display_todos ul li i{
    float: right;
}

.display_todos ul li{
    padding: 10px;
}

.display_todos ul li:hover{
    background-color: aqua;
}

.display_todos h2{
    margin-bottom: 20px;
}

.display_todos span:hover{
    cursor: pointer;
}

/* classe dinamica */
.txt-line{
    text-decoration: line-through;
}

.txt-none{
    text-decoration: none;
}